---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="home-page-posts">
	  {{ content }}
  </div>
  
  <div class="home-page-posts">
	  <div class="home-posts">
		  
		  {% if site.paginate %}
		    {% assign posts = paginator.posts %}
		  {% else %}
		    {% assign posts = site.posts %}
		  {% endif %}


		  {%- if posts.size > 0 -%}
		    <h2 class="post-list-heading">Blog</h2>
		    <ul class="post-list">
		      {%- for post in posts -%}
		      <li>
		        <h3>
		          <a class="post-link" href="{{ post.url | relative_url }}">
		            {{ post.title | escape }}
		          </a>
		        </h3>
		        {%- if site.show_excerpts -%}
		          <p>{{ post.excerpt }}</p>
		        {%- endif -%}
				<time class="post-meta" datetime="{{post.date | html5date}}">{{post.date | italianDate}}</time>
		      </li>
		      {%- endfor -%}
		    </ul>

		    {% if site.paginate %}
		      <div class="pager">
		        <ul class="pagination">
		        {%- if paginator.previous_page %}
		          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
		        {%- else %}
		          <li><div class="pager-edge">•</div></li>
		        {%- endif %}
		          <li><div class="current-page">{{ paginator.page }}</div></li>
		        {%- if paginator.next_page %}
		          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
		        {%- else %}
		          <li><div class="pager-edge">•</div></li>
		        {%- endif %}
		        </ul>
		      </div>
		    {%- endif %}

		  {%- endif -%}

	  </div>
	  <div class="home-tutorials">
		  <a href="{{site.baseurl}}/codifica/codifica.html"><img alt="La codifica dell'informazione. Uccellino pixellato." src="images/codifica/codifica.png" /></a>
		  
		  <br /><br />
		  
		  <a href="{{site.baseurl}}/paginemenu/python.html"><img alt="Python, sintassi base" src="images/python/pythonbutton.png" /></a>
		  
		  <br /><br />
		  
		  <a href="{{site.baseurl}}/paginemenu/algoritmi.html"><img alt="Algoritmi: guida agli algoritmi più importanti" src="images/algoritmi/algoritmibutton.png" /></a>
	  </div>
  </div>

</div>
